.container{
    padding: 10px;
    margin-bottom: 10px;
}

.input-box{
    display: block;
    width: 100%;
}
.header{
    text-align: center;
    overflow: hidden;
}

.header-element-icon{
    float: left
}
.header-element-text{
}
